{
  "extends": ["airbnb", "prettier"],
  "plugins": ["jest"],
  "env": {
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 170,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ]
  }
}
